
/* Search Bar colors */
$mat-input-element-color: #ff365f;
$mat-form-field-label-color: #902b36;
$mat-form-field-underline-color: #f5f5f5;
$mat-form-field-ripple-color: #ff365f;
$mat-form-field-required-marker-color: #ff365f;

$input-placeholder-color: #f5e9f2;
